<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lizhaohui.weather-no-strategy</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PROJECT_ROOT__/run.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>18</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>WorkingDirectory</key>
  <string>__PROJECT_ROOT__</string>
  <key>StandardOutPath</key>
  <string>__PROJECT_ROOT__/logs/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>__PROJECT_ROOT__/logs/launchd.err.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
